* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.background-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;  /* Khởi đầu với độ mờ 0 */
    transition: opacity 0.5s ease-in-out; /* Thêm hiệu ứng mờ nhanh hơn */
}

.slide.active {
    opacity: 1; /* Hiện ảnh hiện tại */
}
